{% extends 'MyBlogBundle::base.html.twig' %}

{% block page_title 'Blog Posts' %}

{% block content %}
<div>
  <a class="btn btn-primary" href="{{ path('blog_new') }}">新しい記事を書く</a>
</div>
<table class="table">
  <thead>
    <tr>
        <td>ID</td>
        <td>タイトル</td>
        <td>作成日</td>
    </tr>
  </thead>
  <tbody>
    {# ここから、posts配列をループして、投稿記事の情報を表示 #}
    {% for post in posts %}
    <tr>
        <td>{{ post.id }}</td>
        <td><a href="{{ path('blog_show', {'id': post.id}) }}">{{ post.title }}</a></td>
        <td>{{ post.createdAt|date('Y/m/d H:i') }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="3">No Posts</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
